*.vo
*.vok
*.vos
*.glob
*.aux
.*.aux
.lia.cache
.nia.cache
.nra.cache
.Makefile.d
Makefile.coq
Makefile.coq.conf
nms_extracted.ml
nms_extracted.mli
nms_cert.ml
nms_cert.mli
*.cmi
*.cmo
*.cmx
*.o
nms_cert_main
nms_cert_main.exe
